{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} Mentions légales {% endblock %}

{% block contenu %} 
    <h1> Les mentions légales</h1>
    <p>Le contenu n'est pas encore présent...</p>
{% endblock %} 